<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a id="nav-brand" class="navbar-brand" href="#">ToDo!y</a>
      </li>
      <li>
        <div class="search-field-wrapper">
          <input id="search-field" type="text" placeholder="Search Notes">
          <div class="search-submit-btn">
            <i class="fa fa-search"></i>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
